h1 {
  text-align: center;
  font-family:impact;
  font-size: 3rem
}

i {
    display: block;
    text-align: center;
    font-size: .5rem"
}

.description {
    box-sizing:border-box;
    text-align: left;
    font-size: 1rem
    max-width: 800px;
    margin: 0 200px;
    padding-top: 50px;
}